{% extends 'navBar.html' %}
{% block title %}
    Home
{% endblock %} 
{% block content %}
    <h1>WELCOME</h1>
    <h2>Press the button below to connect to an alarm clock!</h2>
    <div class="BLEButton">
        <button id="bluetoothButton">Connect to Childrens Alarm Clock!</button>
        <p id="status"></p>
        <script src="static/bluetoothScript.js"></script>
    </div>
    <h2>Current Colors</h2>
    <br>
    <div class="colorCircle" id="nightColorCircle"></div>
    <p>Night color at time</p>
    <div class="colorCircle" id="morningColorCircle"></div>
    <p>Morning Color at time</p>
{% endblock %}