{% extends 'navBar.html' %}
{% block title %}
    Home
{% endblock %} 
{% block content %}
    <h1>WELCOME TO YOUR ALARM CLOCK</h1>
    <h2>To change setting for alarm clock please click on "settings tab"</h2>
    <h2>These Are The Current Colors Selected</h2>
    <br>
    <div class="colorCircle" id="nightColorCircle"></div>
    <p>Night color</p>
    <div class="colorCircle" id="morningColorCircle"></div>
    
    <p>Morning Color</p>
    <script>
        fetch('/colors')
        .then(response => response.ok ? response.json(): {})
        .then(ourColors =>{
            document.getElementById('morningColorCircle').style.backgroundColor = ourColors.morning;
            document.getElementById('nightColorCircle').style.backgroundColor = ourColors.night;
        })
    </script>
{% endblock %}

