<html>
<head>
    <title>Lights</title>
</head>
<body>
    <form method="POST" action="/nightLight">
        Night Light Color: <input type="color" name="morningColor" required><br>
        <input type="submit" value="TURN ON NIGHTLIGHT"><br>
    </form>
    <form method="POST" action="/morningLight">   
        Morning Light Color: <input type="color" name="nightColor" required><br>
        <input type="submit" value="TURN ON NIGHTLIGHT"><br>
    </form>

    <form method="POST" action="/setAlarm">
        Set Alarm <input type="time" name="alarm" required><br>
        <input type="submit" value="SET ALARM"><br>
    </form>

    <button id="bluetoothButton">Connect to Childrens Alarm Clock!</button>
    <p id="status"></p>
    <script src="static/bluetoothScript.js"></script>
</body>
</html>