<html>
<head>
    <title>Lights</title>
</head>
    <body>
        <div class="nightButtons">
            Night Light Color: <input id="nightColor" type="color" name="nightColor" required><br>
            <button id="nightLight">TURN ON NIGHTLIGHT</button><br>
            <script src="static/nightLightScript.js"></script>
        </div>

        Morning Light Color: <input id="morningColor" type="color" name="morningColor" required><br>
        <button id="morningLight">TURN ON MORNINGLIGHT</button><br>
        <script src="static/morningLightScript.js"></script>
    
        <div class="bluetoothDiv">
            <button id="bluetoothButton">Connect to Childrens Alarm Clock!</button>
            <p id="status"></p>
            <script src="static/bluetoothScript.js"></script>
        </div>    
    </body>
</html>