{% extends 'navBar.html' %}
{% block title %}
    Lights
{% endblock %} 
{% block content %}
    <input type="time" id="nightAlarm" min="12:00" max="23:59"><br>
    <button id="nightAlarmButton">Set Night Light Alarm</button>
    <p id="nightAlarmResponse"></p>
    <script src="static/nightAlarmScript.js"></script>
    <br>

    <input type="time" id="morningAlarm" min="00:00" max="11:59"><br>
    <button id="morningAlarmButton">Set Morning Light Alarm</button>
    <p id="morningAlarmResponse"></p>
    <script src="static/morningAlarmScript.js"></script>
    
    <!-- <div class="morningButton">
    Morning Light Color: <input id="morningColor" type="color" name="morningColor" required><br>
    <button id="morningLight">TURN ON MORNINGLIGHT</button><br>
    <script src="static/morningLightScript.js"></script>
    </div> -->
    <br>
{% endblock %}