{% extends 'navBar.html' %}
{% block title %}
    Settings
{% endblock %} 
{% block content %}

<h2>Press the button below to connect to an alarm clock!</h2>
<div class="BLEButton">
    <button id="bluetoothButton">Connect to Childrens Alarm Clock!</button>
    <p id="status"></p>
</div>
<div class="settings">
<div class="colors">
    <div class="header">
    <div class="title">
    <h1>Colors</h1>
    <div class="question" id="colorQuestion">?</div>
</div>
</div>
<div class="color">
    <div>
       <p> Night Light Color:</p> <input id="nightColor" type="color" name="nightColor" required><br><br>
        <button id="nightLight">SET NIGHTLIGHT</button>
    </div>
    <div class="colorCircle" id="nightColorCircle"></div>
</div>

<div class="color">
    <div>
        <p>Morning Light Color: </p><input id="morningColor" type="color" name="morningColor" required ><br><br>
        <button id="morningLight">SET MORNINGLIGHT</button>
    </div>
    <div class="colorCircle" id="morningColorCircle"></div>
</div>

</div>

<div class="lights">
    <div class="header">
    <div class="title">
    <h1>Lights</h1>
    <div class="question" id="lightQuestion">?</div>
</div>
</div>
<div class="light">
    <input type="time" id="nightAlarm" min="12:00" max="23:59"><br>
    <button id="nightAlarmButton">Set Night Light Alarm</button>
    <div class="error">
    <p id="nightAlarmResponse" class="errorMessage"></p>
</div>
</div>

<div class="light">
    <input type="time" id="morningAlarm" min="00:00" max="11:59"><br>
    <button id="morningAlarmButton">Set Morning Light Alarm</button>
    <div class="error">
    <p id="morningAlarmResponse"></p>
</div>

<div class="range">
    <input type="range" min="0" max="255" value="0" id="range" /> 
    <div class="value">0</div>
    <button id="submitBrightness">Set Brightness</button>
</div>
<script type="module" src="static/bluetoothScript.js"></script>
<script src="static/config.js"></script>
<script src="static/ColorCircles.js"></script>
<script src="static/questionScript.js"></script>
<script src="static/alarmCheck.js"></script>
{% endblock %} 

